in order to work with spark dataframe we first need to start a spark Session

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# let's start The Session
spark = SparkSession.builder.appName("spark").getOrCreate()

In [ ]:
df = spark.read.json('people.json')

In [ ]:
# it automatically replaces missing data with null
df.show()

DataFrame[age: bigint, name: string]

In [ ]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [7]:
# df.describe() returns dataFrame , so if you want to display it you need to call . show()
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

in orders to do cetrain operations the schema has to be correct , which columns are strings or integers etc.

In [8]:
 from pyspark.sql.types import (StructField, StringType, 
                                IntegerType, StructType)

In [9]:
# let's create a list of struct field
# struct field takes 3 argument (col , Type , nullable)

In [10]:
data_schema = [StructField("age",IntegerType(),nullable=True),
              StructField("name",StringType(), nullable=True)]

final_struct = StructType(data_schema)

In [11]:
df = spark.read.json("people.json",schema=final_struct)

In [12]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

### Part 2

In [13]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [16]:
df['age']

Column<'age'>

In [17]:
# if i actually want to get the data columns with the results , I use the select methods

In [20]:
df.select('age')

DataFrame[age: int]

 the main difference between these methods that the first one returns Column and the second one returns a df the contains a single column

In [21]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [23]:
df.head(2)[0]

Row(age=None, name='Michael')

In [26]:
# select multiple columns that is pretty easy to do as well , you just passing list of columns 

df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
# this is not inplace operation
df.withColumn('new_age',df['age'] * 2).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     60|
|  19| Justin|     38|
+----+-------+-------+

In [30]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
# renaming a columns , this is also not inplace operation
df.withColumnRenamed('age','my_age').show()

+------+-------+
|my_age|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

## SQL

In [37]:
df.createOrReplaceTempView('people')

In [41]:
results = spark.sql('select * from people where age > 20')  
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+